<!-- <div class="container" *ngIf="updateUserForm">
 <app-adduser-form></app-adduser-form>
</div> -->

<table class="table" style="margin: 1% 0% 1% 3%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email id</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>

      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let user of showAllUsers">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteHandeler(user.id)">Delete</button></td>
        <td><a  class="btn btn-success" [routerLink]="['/users',user.id]" >Edit</a></td>
      </tr>
    </tbody>
  </table>