

     <header class="masthead " style="height: auto;" >
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h2 class="mx-auto my-0 text-uppercase">Welcome to our CRUD app!</h2>
                    <h5 class="text-white-50 mx-auto mt-2 mb-5">    Our app allows you to create, read, update, and delete data in our MySQL database using a user-friendly web interface. Simply click on the navigation links above to get started.
    
                        To create a new record, click on the "New User" link and fill out the form with the necessary information. Once you submit the form, the new record will be added to the database and displayed in the list of users.
                        
                        To view the details of an existing record, click on the "user info" in the list. This will take you to a detailed view of the user's information, including their name, email, and ID number.
                        
                        To update an existing record, click on the "Edit" button next to the users name in the list. This will take you to an edit form where you can modify the user's information. Once you submit the form, the updated information will be saved to the database and displayed in the list of users.
                        
                        To delete an existing record, click on the "Delete" button next to the user's name in the list. This will remove the user's information from the database and update the list of users accordingly.
                        
                        We hope you find our CRUD app easy to use and helpful for managing your data. If you have any questions or feedback, please don't hesitate to contact us using the contact form on our website.</h5>
                   
                </div>
            </div>
        </div>
    </header>